
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta id="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container">


        <div class="row bg-success" style="background-color:white">
            <marquee direction="right" scrollamount="8">
                <h1 >Welcome to my website </h1>

            </marquee>
        </div>
        <br />
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/DesignPic/download (18).jpg" alt="Los Angeles" width="1000" height="300">
                </div>
                <div class="carousel-item">
                    <img src="/DesignPic/download (3).jpg" alt="Chicago" width="1000" height="300">
                </div>
                <div class="carousel-item">
                    <img src="/DesignPic/download (6).jpg" alt="New York" width="1000" height="300">
                </div>
                <div class="carousel-item">
                    <img src="/DesignPic/images (3).jpg" alt="New York" width="1000" height="300">
                </div>
                <div class="carousel-item">
                    <img src="/DesignPic/download (21).jpg" alt="New York" width="1000" height="300">
                </div>
                <div class="carousel-item">
                    <img src="/DesignPic/download (15).jpg" alt="New York" width="1000" height="300">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        </div>



    

</body>
</html>